services:
  traefik:
    image: traefik:v3.2.0@sha256:d12741b971f5c833919db2b680191dc23d5d96ef17e41a914e3c593a8c663ac4

  homepage:
    image: litetex/ghcr.gethomepage.homepage:v0.9.12

  sabnzbd:
    image: hotio/sabnzbd:release-4.3.3

  readarr:
    image: hotio/readarr:testing-0.4.2.2653

  audiobookshelf:
    image: advplyr/audiobookshelf:2.17.1

  jackett:
    image: hotio/jackett:release-0.22.856
