services:
  traefik:
    image: traefik:v3.3.0@sha256:bc534d72121b187efc3706780d604b2a6590ef321c441ef137289052633d27d4

  homepage:
    image: litetex/ghcr.gethomepage.homepage:v0.10.9

  sabnzbd:
    image: hotio/sabnzbd:release-4.3.3

  readarr:
    image: hotio/readarr:testing-0.4.2.2653

  audiobookshelf:
    image: advplyr/audiobookshelf:2.17.7

  jackett:
    image: hotio/jackett:release-0.22.856
