services:
  traefik:
    image: traefik:v3.3.4@sha256:cc11989f418e2cfe5e60fc40c92c1813be847f58eda15eced7d5ac890255ad9e

  homepage:
    image: litetex/ghcr.gethomepage.homepage:v0.10.9

  sabnzbd:
    image: hotio/sabnzbd:release-4.3.3

  readarr:
    image: hotio/readarr:testing-0.4.2.2653

  audiobookshelf:
    image: advplyr/audiobookshelf:2.19.5

  jackett:
    image: hotio/jackett:release-0.22.856
